.cards
  display: flex
  align-items: center
  justify-content: space-between
  +margin-bottom(4)
  height: 200px
  position: relative

.cards--multi
  @extend .cards
  height: auto
  align-items: baseline
  .card
    flex: 1
    +horizontal-margin(2)
    &first-child
      +margin-right(0)
    &last-child
      +margin-left(0)


.card__container
  +center

.card__label
  +center-horizontally
  font-size: 12px
  background-color: rgba($raspberry, 0.6)
  border-radius: 20px
  font-weight: bold
  +vertical-padding(.2)
  +horizontal-padding(1)
  top: -12px

.card
  position: relative
  width: 32%
  border-radius: 5px
  +vertical-padding(4)
  +horizontal-padding(2)
  height: 100%
  box-shadow: $shadow
  +font-size(regular)

.card__bigtext
  +font-size(huge)
  font-weight: bold
  text-align: center
  +margin-bottom(2)

.card__text
  +font-size(regular)
  +margin-bottom(1)

.card__title
  +font-size(regular)
  font-weight: bold
  +margin-bottom(.5)


pre
  +margin-bottom(1)
  +font-size(smallprint)

.card__bullet
  display: flex
  align-items: center
  max-width: 100%
  word-wrap: break-word
  +margin-bottom(1)
  +font-size(smallprint)
  line-height: 1.2

  &:last-child
    +margin-bottom(0)

  .card__bullet__num
    +margin-right(.5)
    font-weight: bold

.card__icon
  +margin-right(.5)
  width: 24px
  border-radius: 20px

.card__mini
  font-size: 10px


@media only screen and (max-width: 700px)
  .cards
    display: block
    height: auto

  .cards--multi
    .card
      +horizontal-margin(0)

  .card
    min-height: 200px
    width: 100%
    +margin-bottom(4)
    +padding(4)
    max-width: none

  .pane__left
    max-width: none
    min-width: none
    text-align: center
    +margin-bottom(4)
