.flag
  text-align: left
  +vertical-padding(2)

.flag__title
  +heading-font-family
  +font-size(beta)

.flag__text
  +font-size(gamma)

.flag__image
  // max-width: 100%

.flag__video
  width: 100%
  box-shadow: 2px 14px 15px #ddd

.flag__line
  width: 100px
  height: 2px
  background: linear-gradient(90deg, rgba(87,79,223,1) 0%, rgba(9,118,121,1) 35%, rgba(0,212,255,1) 100%)
  position: absolute
  display: block
  margin: 0 auto
  text-align: center
  left: 48%

.flag__item, .flag__image__container
  max-width: 70%
  margin: 0 auto
  text-align: center
  +margin-bottom(2)

.flag__right, .flag__left
  @extend .flag__item

.flag__image__container
  +margin-bottom(4)


@media only screen and (min-width: 940px)
  .flag
    display: flex
    align-items: center

  .flag__image__container
    flex-basis: 60%
    flex-grow: 0

  .flag__item
    flex-basis: 40%
    flex-grow: 0
    margin: 0
    max-width: none
    text-align: left

  .flag__left
    padding-right: 60px

  .flag__right
    padding-left: 60px
