.flag
  text-align: left
  +vertical-padding(2)

.flag__title
  +heading-font-family
    
.flag__text

.flag__image
  // max-width: 100%

@media only screen and (min-width: 940px)
  .flag
    display: flex
    align-items: center

  .flag__image__container
    flex-basis: 60%
    flex-grow: 0

  .flag__left
    font-size: 20px
    flex-basis: 40%
    padding-right: 60px
    flex-grow: 0
    padding-right: 60px

  .flag__right
    font-size: 20px
    flex-basis: 40%
    padding-left: 60px
    flex-grow: 0
    padding-left: 60px
