.form
  border: 2px solid $base-body-color
  background-color: white
  border-radius: 3px
  margin-bottom: $grid-gutter
  font-family: $heading-font-family
  font-weight: 400
  padding: 20px
  max-width: 600px
  margin: 0 auto
  +font-size(regular)

  label
    display: block
    +margin-bottom(2)
    span
      text-align: left
      font-weight: bold
      width: 23%
      display: block

  input, select
    position: relative
    border: none
    border-radius: 0
    background-color: #fff
    padding: 0.7rem 0
    width: 100%

  input
    border-bottom: 1px dashed $base-body-color

  textarea
    border: 1px solid $light-body-color
    +vertical-margin(2)
    border-radius: 3px

  button
    display: block
    margin: 0 auto

.form__errors
  +font-size(smallprint)
  color: red

@media only screen and (min-width: 500px)
  .form
    padding: 60px
    label
      span
        display: inline-block

    input, select
      width: 60%
