.menu
  +margin-bottom(4)

.menu__item
  font-weight: 500
  +font-size(regular)
  display: flex
  align-items: center
  +margin-bottom(.5)
  list-style: disc
  svg
    width: 24px
    +margin-right(.5)
  a, p
    text-decoration: none
    &:hover
      text-decoration: underline
