.navbar
  +wrap
  display: flex
  justify-content: space-between
  align-items: center
  +font-size(regular)
  +vertical-padding(1)
  background: transparent

.navbar__logo
  font-size: 0
  width: 42px
  height: 42px
  display: block

.navbar__item
  display: inline-block
  +margin-left(3)

.navbar__link
  position: relative
  text-decoration: none
  +vertical-padding(.3)
  z-index: 0
  &:after
    content: ''
    display: block
    background-color: $base-body-color
    height: 1px
    margin: 0 auto
    position: absolute
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    transition: $transition
    width: 0%
  &:hover
    &:after
      width: 100%

@media only screen and (min-width: 800px)
  .navbar__logo
    +font-size(big)
    width: auto
    height: auto
    text-decoration: none
    font-weight: bold
