.button
  display: inline-flex
  font-family: $heading-font-family
  background-color: $base-body-color
  padding: 10px 20px
  color: white
  line-height: 1
  position: relative
  white-space: nowrap
  text-decoration: none
  margin-right: 4px
  align-items: center
  border-radius: 3px
  cursor: pointer
  font-size: inherit

  &:hover
    transition: $transition
    background-color: $button-color

.button--big
  @extend .button
  padding: 18px 30px
  font-size: 20px

.button__link
  &:hover
    transition: $transition
    text-decoration: none
  i
    margin-left: 5px
