.cards
  display: flex
  align-items: center
  justify-content: space-between
  +margin-bottom(4)
  height: 180px
  position: relative

.card__container
  +center

.card__label
  +center-horizontally
  font-size: 12px
  background-color: rgba($raspberry, 0.6)
  border-radius: 20px
  font-weight: bold
  +vertical-padding(.2)
  +horizontal-padding(1)
  top: -12px

.card
  position: relative
  min-width: 30%
  border-radius: 5px
  +padding(3)
  height: 100%
  box-shadow: $shadow

.card__bigtext
  +font-size(huge)
  font-weight: bold
  text-align: center

.card__text
  +font-size(smallprint)

.card__bullet
  display: flex
  align-items: center
  width: 100%
  +margin-bottom(1)
  &:last-child
    +margin-bottom(0)

  .card__bullet__num
    +margin-right(.5)
    font-weight: bold

.card__icon
  +margin-right(.5)
  width: 24px
  // background-color: rgba($green, 0.6)
  border-radius: 20px
  // +padding(.5)

.card__mini
  font-size: 10px



@media only screen and (max-width: 700px)
  .cards
    display: block
    height: auto

  .card
    min-height: 200px
    width: 100%
    +margin-bottom(4)


  .pane__left
    max-width: none
    min-width: none
    text-align: center
    +margin-bottom(4)
