.header
  @extend .section
  +wrap

.header__container
  @extend .section__container
  position: relative

.header__title
  +heading-font-family
  +font-size(alpha)
  text-align: center

.header__subtitle
  text-align: center
  +font-size(gamma)
  +margin-bottom(2)

.header__image
  display: none

@media only screen and (min-width: 1000px)
  .header__title
    text-align: left
    +font-size(huge)

  .header__subtitle
    +font-size(beta)
    text-align: left

  .header__image
    display: block
    width: 100px
