.section
  text-align: center
  position: relative
  background-color: white
  padding: 100px 0

.section__title
  font-weight: 700
  margin-bottom: $grid-gutter
  font-size: 35px
  margin: 0 auto 60px auto
  max-width: 85%
  font-family: $heading-font-family

.section__subtitle
  margin-bottom: $grid-gutter
  font-family: $heading-font-family
  font-size: 20px
  font-weight: 400

.section__link
  display: block
  +padding-top(2)
  font-family: $heading-font-family
  font-size: 20px
  font-weight: bold
  color: rgb(250, 192, 54)
  text-decoration: none
  &:hover
    text-decoration: underline

.section__container
  max-width: 840px
  margin: 0 auto
  padding: 0 $grid-gutter-mobile

.section__image
  max-width: 50%

.section--button
  @extend .section
  background-color: $button-color

.section--primary
  @extend .section
  background-color: $primary-color
  color: white

.section--black
  @extend .section
  background-color: $base-body-color
  color: white

@media only screen and (min-width: 1080px)
  .section
    padding: 100px 0

  .section__container
    max-width: 950px
    padding: 0 $grid-gutter

  .section__title
    font-size: 40px
